---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*, 
  modernize-*,
  -readability-magic-numbers,
  -modernize-use-nullptr  # spécifique C++
WarningsAsErrors: '*,-clang-diagnostic-unused-command-line-argument'
HeaderFilterRegex: 'inc/(?!stm32l5xx_hal_conf\.h$)|src/'
CheckOptions:
  - key: readability-magic-numbers.IgnoreEnums
    value: 1
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoreMacros
    value: 1
  - key: cppcoreguidelines-avoid-magic-numbers.IgnoreConstexpr
    value: 0
